{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .my-container {
        display: flex;
    }
    .side-panel {
        flex: 0 0 300px
    }
    .main-panel {
        flex: 0 0 auto;
    }
</style>
<main>
    <h1>Página do funcionário para agendamento</h1>
    <div class="my-container">
        <div class="side-panel" >
            <label for="id_date">Data da consulta</label>
            <input type="date" name="date" id="id_date">
        </div>
        <div class="main-panel">
            <div>
                <label for="id_customer">Cliente</label>
                <select name="customer" id="id_customer">
                    <option value="">-----Select an option-----</option>
                    {% for customer in customer_list %}
                    <option value="{{customer.id}}">{{customer.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="id_specialty">Especialidade</label>
                <select name="specialty" id="id_specialty">
                    <option value="">-----Select an option-----</option>
                    {% for specialty in specialty_list %}
                    <option value="{{specialty.id}}">{{specialty.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="id_doctor">Médico</label>
                <select name="doctor" id="id_doctor">
                </select>
            </div>
            <div>
                <label for="id_hour">Horário da consulta</label>
                <input type="time" name="hour" id="id_hour">
            </div>
            <div>
                <button type="button" id="btn-register-appointment" class="btn btn-primary">Agendar</button>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/employee_appointment.js' %}"></script>
{% endblock %}