/* RESET CSS START */
* {
    border: 0;	
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* RESET CSS END */

/* General variables */
:root {
    --brackground-solid-gray: rgba(238, 238, 238, 0.534);
    --background-transparent-gray: #fafafa91;
    --bg-gradient-lightest-part: rgba(150, 243, 150, 0.918);
    --bg-gradient-darkest-part: rgb(48, 182, 115);
    --color-blue: #217fbf;
    --color-darkblue: #103f5f;
    --color-full-black: #000;
    --color-full-white: #fff;
    --color-red: #8c0815;
    --logo-darkest-part: #088c7f;
    --logo-lightest-part: #21bfb0;
    --pagination-bg-light: #C2FFD6;
    --pagination-bg-dark: #30b673;
    --shadow-semi-transparent: rgba(0, 0, 0, 0.5);
    --table-head-bg: #30b673;
    --table-body-bg-light: #fafafa91;
    --table-body-bg-dark: #C2FFD6;
    --table-body-line-hover: rgba(150, 243, 150, 0.918);
    --table-border: #999;
    --text-emphasis: #493F3F;
    --text-normal: #594F4F;
}

body {
    padding: 20px 20px;
    background: linear-gradient(90deg, var(--bg-gradient-lightest-part), var(--bg-gradient-darkest-part));
}

.conteiner {
    background-color: var(--background-transparent-gray);
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--shadow-semi-transparent);
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: var(--brackground-solid-gray);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navbar a {
    text-decoration: none;
    color: var(--text-emphasis);
}

.logo {
    display: block;
    width: 75px;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}


.menu {
    display: flex;
    justify-content: center;
    font-weight: bold;
    flex: 1;
}

.menu a {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar a.btn-logout {
    background-color: var(--logo-darkest-part);
    border-radius: 5px;
    color: var(--color-full-white);
    font-weight: 600;
    padding: 10px 10px;
}

.content {
    display: flex;
    color: var(--text-normal);
    min-height: 100%;
    flex: 1 0;
    flex-direction: column;
    padding: 10px 20px;
}

#footer {
    background-color: var(--brackground-solid-gray);
    /* bordas inferiores */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--color-full-black);
    font-size: 15px;
    padding: 20px 10px;
    text-align: center;
}