{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/specialty_list.css' %}">
{% endblock %}

{% block content %}
<figure class="specialty-banner">
    <img src="{% static 'images/specialty-banner.png' %}" 
        alt="Imagem de banner da página, que contém um estetoscópio no fundo com um efeito de 
        blur e o texto 'Especialidades' escrito por cima">
    <span hidden>Créditos da imagem: 
        <a href="https://br.freepik.com/fotos-premium/medico-com-estetoscopio-na-mao-no-fundo-do-hospital-conceito-medico-e-medicina_4066071.htm#query=hospital&position=9&from_view=search">
            Freepik
        </a>
    </span>
</figure>

<div class="panel">
    <div class="specialty-list">
        <div class="specialty-wrapper">
            <h2 class="specialty-title">Cardiologia</h2>
            <p class="specialty-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Temporibus expedita ea sapiente, libero perferendis quidem voluptatibus 
                facere eos amet, vel fuga corporis alias cumque possimus labore at itaque, 
                commodi quae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Officia tempora ipsam velit beatae, pariatur vitae nisi! Ipsa ea rem dolorem, 
                ut ad eveniet, laborum maiores numquam, aliquid vel soluta eius!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Temporibus expedita ea sapiente, libero perferendis quidem voluptatibus 
                facere eos amet, vel fuga corporis alias cumque possimus labore at itaque, 
                commodi quae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Officia tempora ipsam velit beatae, pariatur vitae nisi! Ipsa ea rem dolorem, 
                ut ad eveniet, laborum maiores numquam, aliquid vel soluta eius!
            </p>
        </div>
        <div class="specialty-wrapper">
            <h2 class="specialty-title">Cardiologia</h2>
            <p class="specialty-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Temporibus expedita ea sapiente, libero perferendis quidem voluptatibus 
                facere eos amet, vel fuga corporis alias cumque possimus labore at itaque, 
                commodi quae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Officia tempora ipsam velit beatae, pariatur vitae nisi! Ipsa ea rem dolorem, 
                ut ad eveniet, laborum maiores numquam, aliquid vel soluta eius!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Temporibus expedita ea sapiente, libero perferendis quidem voluptatibus 
                facere eos amet, vel fuga corporis alias cumque possimus labore at itaque, 
                commodi quae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Officia tempora ipsam velit beatae, pariatur vitae nisi! Ipsa ea rem dolorem, 
                ut ad eveniet, laborum maiores numquam, aliquid vel soluta eius!
            </p>
        </div>
        <div class="specialty-wrapper">
            <h2 class="specialty-title">Cardiologia</h2>
            <p class="specialty-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Temporibus expedita ea sapiente, libero perferendis quidem voluptatibus 
                facere eos amet, vel fuga corporis alias cumque possimus labore at itaque, 
                commodi quae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Officia tempora ipsam velit beatae, pariatur vitae nisi! Ipsa ea rem dolorem, 
                ut ad eveniet, laborum maiores numquam, aliquid vel soluta eius!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Temporibus expedita ea sapiente, libero perferendis quidem voluptatibus 
                facere eos amet, vel fuga corporis alias cumque possimus labore at itaque, 
                commodi quae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Officia tempora ipsam velit beatae, pariatur vitae nisi! Ipsa ea rem dolorem, 
                ut ad eveniet, laborum maiores numquam, aliquid vel soluta eius!
            </p>
        </div>
        <div class="specialty-wrapper">
            <h2 class="specialty-title">Cardiologia</h2>
            <p class="specialty-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Temporibus expedita ea sapiente, libero perferendis quidem voluptatibus 
                facere eos amet, vel fuga corporis alias cumque possimus labore at itaque, 
                commodi quae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Officia tempora ipsam velit beatae, pariatur vitae nisi! Ipsa ea rem dolorem, 
                ut ad eveniet, laborum maiores numquam, aliquid vel soluta eius!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Temporibus expedita ea sapiente, libero perferendis quidem voluptatibus 
                facere eos amet, vel fuga corporis alias cumque possimus labore at itaque, 
                commodi quae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Officia tempora ipsam velit beatae, pariatur vitae nisi! Ipsa ea rem dolorem, 
                ut ad eveniet, laborum maiores numquam, aliquid vel soluta eius!
            </p>
        </div>
        
    </div>

</div>
{% endblock %}