{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS base for the project -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap"
        rel="stylesheet">

    <!-- CSS for spefic project apps -->
    {% block stylesheet %}
    {% endblock %}

    <title>Easy Agenda</title>
</head>

<body>
    <div class="conteiner">
        <header>
            {% include 'navbar.html' %}
        </header>

        {% block content %}
        {% endblock %}
        
        <footer id="footer">
            {% include 'footer.html' %}
        </footer>
    </div>

    <!-- Project scripts -->
    {% block scripts %}
    {% endblock %}

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/3a3dea1cf5.js" crossorigin="anonymous"></script>
</body>

</html>