{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <h1>
        Página do site da clínica
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Molestias recusandae eum ab, iste, doloribus doloremque voluptatem quisquam excepturi.
        Impedit id necessitatibus possimus ipsum obcaecati dolore repellendus suscipit laboriosam rem. 
        Maxime.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Molestias recusandae eum ab, iste, doloribus doloremque voluptatem quisquam excepturi.
        Impedit id necessitatibus possimus ipsum obcaecati dolore repellendus suscipit laboriosam rem. 
        Maxime.
    </p>
</main>
{% endblock %}