{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/information.css' %}">
{% endblock %}

{% block content %}
<figure class="information-banner">
    <img src="{% static 'images/information-banner.png' %}" 
        alt="Imagem de banner da página, que contém um estetoscópio no fundo com um efeito de 
            blur e o texto 'Informações' escrito por cima">
</figure>

<div class="panel">
    <div class="information-list">
        <div class="information-wrapper">
            <h2 class="information-title">Agendamento</h2>
            <ul class="information-description">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Eius nulla soluta, explicabo distinctio aliquam, voluptates alias nemo 
                    reprehenderit fugiat voluptate quod error nisi fugit laboriosam in 
                    perferendis culpa ex vero!
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Eius nulla soluta, explicabo distinctio aliquam, voluptates alias nemo 
                    reprehenderit fugiat voluptate quod error nisi fugit laboriosam in 
                    perferendis culpa ex vero!
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Eius nulla soluta, explicabo distinctio aliquam, voluptates alias nemo 
                    reprehenderit fugiat voluptate quod error nisi fugit laboriosam in 
                    perferendis culpa ex vero!
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Eius nulla soluta, explicabo distinctio aliquam, voluptates alias nemo 
                    reprehenderit fugiat voluptate quod error nisi fugit laboriosam in 
                    perferendis culpa ex vero!
                </li>
            </ul>
        </div>
        <div class="information-wrapper">
            <h2 class="information-title">Consulta</h2>
            <ul class="information-description">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Eius nulla soluta, explicabo distinctio aliquam, voluptates alias nemo 
                    reprehenderit fugiat voluptate quod error nisi fugit laboriosam in 
                    perferendis culpa ex vero!
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Eius nulla soluta, explicabo distinctio aliquam, voluptates alias nemo 
                    reprehenderit fugiat voluptate quod error nisi fugit laboriosam in 
                    perferendis culpa ex vero!
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Eius nulla soluta, explicabo distinctio aliquam, voluptates alias nemo 
                    reprehenderit fugiat voluptate quod error nisi fugit laboriosam in 
                    perferendis culpa ex vero!
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Eius nulla soluta, explicabo distinctio aliquam, voluptates alias nemo 
                    reprehenderit fugiat voluptate quod error nisi fugit laboriosam in 
                    perferendis culpa ex vero!
                </li>
            </ul>
        </div>
        <div class="information-wrapper">
            <h2 class="information-title">Cadastros</h2>
            <ul class="information-description">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Eius nulla soluta, explicabo distinctio aliquam, voluptates alias nemo 
                    reprehenderit fugiat voluptate quod error nisi fugit laboriosam in 
                    perferendis culpa ex vero!
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Eius nulla soluta, explicabo distinctio aliquam, voluptates alias nemo 
                    reprehenderit fugiat voluptate quod error nisi fugit laboriosam in 
                    perferendis culpa ex vero!
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Eius nulla soluta, explicabo distinctio aliquam, voluptates alias nemo 
                    reprehenderit fugiat voluptate quod error nisi fugit laboriosam in 
                    perferendis culpa ex vero!
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Eius nulla soluta, explicabo distinctio aliquam, voluptates alias nemo 
                    reprehenderit fugiat voluptate quod error nisi fugit laboriosam in 
                    perferendis culpa ex vero!
                </li>
            </ul>
        </div>        
    </div>

</div>
{% endblock %}