{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS project -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap"
        rel="stylesheet">
    
    <title>Easy Agenda - Login</title>
</head>

<body>
    <div class="conteiner">
        <div class="header">
            <h2>Login</h2>
        </div>

        <form id="form" class="form" action="" method="POST">
            {% csrf_token %}
            <div class="form-control">
                <label for="id_username">Usuário</label>
                <input type="text" id="id_username" name="username" placeholder="Digite seu usuário" required>
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>
            </div>

            <div class="form-control">
                <label for="id_password">Senha</label>
                <input type="password" id="id_password" name="password" placeholder="Digite sua senha" required>
                <i class="fas fa-exclamation-circle"></i>
                <i class="fas fa-check-circle"></i>                
            </div>
            {% for message in messages %}
            <small class="small1">{{message}}</small>
            {% endfor %}

            <button type="submit">Login</button><br>

            <div class="small-cad">Não possui uma conta? <a href="{% url 'customer:customer_register' %}">Cadastre-se</a></div>
        </form>
    </div>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/3a3dea1cf5.js" crossorigin="anonymous"></script>
</body>
</html>