{% load static %}
<nav class="navbar">
    {% if request.user.is_staff %}
    <a href="{% url 'employee:employee_home' %}" class="logo">
        <img src="{% static 'images/easy-agenda-logo.png' %}" alt="Easy Agenda logo">
    </a>
    {% else %}
    <a href="{% url 'customer:customer_home' %}" class="logo">
        <img src="{% static 'images/easy-agenda-logo.png' %}" alt="Easy Agenda logo">
    </a>
    {% endif %}
    
    <div class="menu">
        {% if request.user.is_staff %}
        <a href="{% url 'appointment:employee_appointment' %}">Agendamento</a>
        {% else %}
        <a href="#">Agendamento</a>
        {% endif %}
        <a href="#">Menu2</a>
        <a href="#">Menu3</a>
        <a href="#">Menu4</a>
    </div>

    <a class="btn-logout" href="{% url 'website:logout' %}">Logout</a>
</nav>