.table {
    border-spacing: 0;
    margin-top: 15px;
    width: 100%;
}

.table-head {    
    color: var(--text-emphasis);
    font-weight: bold;
    text-align: left;
}

.table-body {
    color: var(--text-normal);
    text-align: left;
}

.table-column {
    border-bottom: 1px solid var(--table-border);
    padding: 10px 5px;
}

.table-head > .table-line > .table-column {
    background-color: var(--table-head-bg);
    border-top: 1px solid var(--table-border);
}

/* Borders on the left and right sides of the table */
.table-line > .table-column:nth-child(2) {
    border-left: 1px solid var(--table-border);
}
.table-line > .table-column:last-child {
    border-right: 1px solid var(--table-border);
}

/* Rounded border corners of the first line table */
.table-head > .table-line > .table-column:nth-child(2) {
    border-top-left-radius: 10px;
}
.table-head > .table-line > .table-column:last-child {
    border-top-right-radius: 10px;
}
/* Rounded border corners of the last line table */
.table-body > .table-line:last-child > .table-column:nth-child(2) {
    border-bottom-left-radius: 10px;
}
.table-body > .table-line:last-child > .table-column:last-child {
    border-bottom-right-radius: 10px;
}

/* Striped color to the table */
.table-body > .table-line:nth-child(odd) > .table-column {
    background-color: var(--table-body-bg-dark);
}

.table-body > .table-line:nth-child(even) > .table-column {
    background-color: var(--table-body-bg-light);
}

/* PAGINATION */
.pagination {
    display: flex;
    width: fit-content;
}

.pagination > li {
    list-style: none;
    margin-top: 15px;
}

.pagination > li > a {
    background-color: var(--pagination-bg-light);
    border-top: 1px solid var(--table-border);
    border-bottom: 1px solid var(--table-border);
    color: var(--text-normal);
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}

.pagination > li.active > a {
    background-color: var(--pagination-bg-dark);
}

.pagination > li > a:visited {
    color: var(--text-normal);
}

.pagination > li + li > a {
    border-left: 1px solid var(--table-border);
}

.pagination > li:first-child > a {
    border-left: 1px solid var(--table-border);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.pagination > li:last-child > a {
    border-right: 1px solid var(--table-border);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}