.title {
    font-size: 18pt;
    font-weight: normal;
    width: 100%;
    margin-bottom: 40px;
}

.title .employee-logged {
    color: var(--text-emphasis);
    font-weight: 600;
    text-decoration: underline;    
}