{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/customer.css' %}">
{% endblock %}

{% block content %}

{% if customer.gender == 'm' %}
<h1 class="title">Olá, bem vindo <span class="customer-logged">{{request.user.username}}!</span></h1>
{% else %}
<h1 class="title">Olá, bem vinda <span class="customer-logged">{{request.user.username}}!</span></h1>
{% endif %}

<div class="panel">
    {% if total_appointments == 0 %}
    <p class="no-appointments-message">Você ainda não possui agendamentos</p>
    <a href="{% url 'appointment:customer_appointment' %}" class="btn-register-appointment">Agendar agora</a>
    
    {% else %}
    <p class="appointment-message">Acompanhe seus agendamentos abaixo:</p>
    <div class="appointment-list">
        {% for appointment in appointment_list %}
        <div class="appointment-wrapper">
            <p class="appointment-doctor">
                {% if appointment.doctor.gender == 'm' %} Dr. {% else %} Dra. {% endif %}
                {{ appointment.doctor }}
            </p>
            <p class="appointment-specialty">{{ appointment.specialty }} - CRM: {{ appointment.doctor.crm }}</p>
            <p class="appointment-date">
                Data da consulta: <time datetime="{{appointment.appointment_date}}">{{appointment.appointment_date}}</time>
            </p>
            <p class="appointment-time">
                Horário da consulta: <time>{{appointment.appointment_time}}</time>
            </p>
            <button class="btn-cancel-appointment" id="{{appointment.id}}" data-appointment-id="{{appointment.id}}">Cancelar</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/customer_page.js' %}"></script>
{% endblock %}