{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/customer.css' %}">
{% endblock %}

{% block content %}

{% if customer.gender == 'm' %}
<h1 class="title">Olá, bem vindo <span class="customer-logged">{{request.user.username}}!</span></h1>
{% else %}
<h1 class="title">Olá, bem vinda <span class="customer-logged">{{request.user.username}}!</span></h1>
{% endif %}

<div class="panel">
    <!-- <p class="no-appointments-message">Você ainda não possui agendamentos</p>
    <button class="btn-register-appointment">Agendar agora</button> -->
    
    <p class="appointment-message">Acompanhe seus agendamentos abaixo:</p>
    <div class="appointment-list">
        <div class="appointment-wrapper">
            <p class="appointment-doctor">Dr. Albiery Meneses</p>
            <p class="appointment-specialty">Ortopedia - CRM: crm-112233</p>
            <p class="appointment-date">
                Data da consulta: <time datetime="2022-05-20">20/05/2022</time>
            </p>
            <p class="appointment-time">
                Horário da consulta: <time>08:00</time>
            </p>
            <button class="btn-cancel-appointment">Cancelar</button>
        </div>
        <div class="appointment-wrapper">
            <p class="appointment-doctor">Dr. Albiery Meneses</p>
            <p class="appointment-specialty">Ortopedia - CRM: crm-112233</p>
            <p class="appointment-date">
                Data da consulta: <time datetime="2022-06-05">05/06/2022</time>
            </p>
            <p class="appointment-time">
                Horário da consulta: <time>10:00</time>
            </p>
            <button class="btn-cancel-appointment">Cancelar</button>
        </div>
    </div>

</div>

{% endblock %}